## Introduction

This dataset was provided by DecoderBot, a versatile platform involved in various services, including IT solutions, design and development, and internship programs for  IT enthusiasts.

The dataset consists of 11 columns with 5283 data entries of Netflix movies and TV show which has been rated by IMDb from 1953 to 2022. The data attributes includes:

- **Title**: Name of the TV show or movie.
- **Type**: category of each entry as a TV show or movie.
- **Description**:Summary of the plot or storyline of each TV show or movie.
- **Release_year**: indicates the year each movie of TV show was released.
- **Age_certification**: Age ratings assigned to each title, indicating whether they are suitable for the general audience  or restricted due to adult content.
- **Runtime**: Duration of TV show episodes or movies.
- **Imdb_score**: Score assigned to each movie or TV show representing its overall quality and popularity on IMDb.
- **Imdb_votes**: Number of votes received by each movie or TV show  on IMDb.

In [1]:
# Import all necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from wordcloud import WordCloud


# load the Netflix TV shows and movies dataset into the pandas dataframe

# Define the file path
file_path = r"C:\Users\ianiy\OneDrive\Desktop\Data Analyst GIGs\DecoderBot\Task 1- Netflix TV Shows and Movies.csv"

# Load the CSV file into a DataFrame
Movies_rating = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
Movies_rating.head()

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
2,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
3,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
4,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0

In [2]:
# Display basic information about dataset
Movies_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5283 entries, 0 to 5282
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              5283 non-null   int64
 1   id                 5283 non-null   object
 2   title              5283 non-null   object
 3   type               5283 non-null   object
 4   description        5278 non-null   object
 5   release_year       5283 non-null   int64
 6   age_certification  2998 non-null   object
 7   runtime            5283 non-null   int64
 8   imdb_id            5283 non-null   object
 9   imdb_score         5283 non-null   float64
 10  imdb_votes         5267 non-null   float64
dtypes: float64(2), int64(3), object(6)
memory usage: 454.1+ KB

## Data Cleaning

In [3]:
# Check the columns with the null values 
Movies_rating.isna().sum()

index                   0
id                      0
title                   0
type                    0
description             5
release_year            0
age_certification    2285
runtime                 0
imdb_id                 0
imdb_score              0
imdb_votes             16
dtype: int64

This dataframe shows that there are missing values in some columns such as **'description', 'age_certification', and 'imdb_votes'**. Also some of the columns are not useful to our analysis, thus such columns will be dropped.

In [4]:
# Check for duplicates

Movies_rating.duplicated().sum()

0

In [5]:
# Check for data consistency

Movies_rating.value_counts()

index  id        title                   type   description                                                                                                                                                                                                                                                                                                                                                                               release_year  age_certification  runtime  imdb_id     imdb_score  imdb_votes
0      tm84618   Taxi Driver             MOVIE  A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge for violent action, attempting to save a preadolescent prostitute in the process.                                                                                                                                                       1976          R                  113      tt0075314   8.3         795222.0      1
3244   ts236747  Middleditch & Schwartz  SHOW   Comedy duo Thomas Middleditch and Ben Schwartz turn small ideas into epically funny stories in this series of completely improvised comedy specials.                                                                                                                                                                                                                                      2020          TV-MA              51       tt12027034  8.6         5147.0        1
3232   tm315255  Ip Man 4: The Finale    MOVIE  Following the death of his wife, Ip Man travels to San Francisco to ease tensions between the local kung fu masters and his star student, Bruce Lee, while searching for a better future for his son.                                                                                                                                                                                     2019          PG                 107      tt2076298   7.0         30694.0       1
3233   tm361746  Ophelia                 MOVIE  Ophelia comes of age as lady-in-waiting for Queen Gertrude, and her singular spirit captures Hamlet's affections. As lust and betrayal threaten the kingdom, Ophelia finds herself trapped between true love and controlling her own destiny.                                                                                                                                             2019          PG-13              106      tt5690870   6.6         10357.0       1
3234   tm813695  After We Collided       MOVIE  Based on the 2014 romance novel of the same name, this follows the love life of two young adults.                                                                                                                                                                                                                                                                                         2020          R                  105      tt10362466  5.0         29571.0       1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ..
1430   tm218186  Septembers of Shiraz    MOVIE  In this adaptation of the critically acclaimed debut novel by Iranian American author Dalia Sofer, a secular Jewish family is caught up in the maelstrom of the 1979 Iranian Revolution.                                                                                                                                                                                                  2015          PG-13              110      tt3661298   7.9         38.0          1
1432   ts38805   Beat Bugs               SHOW   Jay, Kumi, Crick, Buzz, and Walter are best friends who band together to explore and learn in an overgrown suburban backyard, which to them is their entire universe. Each episode of this animated series features songs by The Beatles performed by artists including Daniel Johns, Robbie Williams and Pink to tell uplifting and life-affirming stories filled with hope and melody.  2016          TV-Y               15       tt4716268   7.6         522.0         1
1437   tm201365  Brothers                MOVIE  David and Monty, estranged half-brothers, train in mixed martial arts to earn a livelihood. However, things change when the two are forced to compete against each other in the final tournament.                                                                                                                                                                                         2015          PG-13              156      tt3802576   6.4         12886.0       1
1438   ts38761   Another Miss Oh         SHOW   Two women working in the same industry with the exact same name keep getting their lives entangled both professionally and personally.                                                                                                                                                                                                                                                    2016          TV-MA              69       tt5679572   7.9         1769.0        1
5275   ts286386  The Big Day             SHOW   For six engaged couples, happily ever after begins on a spectacular note in this eye-popping look at Indiaâ€™s multibillion-dollar wedding industry.                                                                                                                                                                                                                                      2021          TV-MA              45       tt13887518  4.6         327.0         1
Length: 2987, dtype: int64

In [6]:
# Check for data consistency and format

for column in Movies_rating.columns:
    unique_values = Movies_rating[column].unique()
    print(f"Unique values in {column}: {unique_values}")

Unique values in index: [   0    1    2 ... 5280 5281 5282]
Unique values in id: ['tm84618' 'tm127384' 'tm70993' ... 'tm1045018' 'tm1098060' 'ts271048']
Unique values in title: ['Taxi Driver' 'Monty Python and the Holy Grail' 'Life of Brian' ...
 'Clash' 'Shadow Parties' 'Mighty Little Bheem: Kite Festival']
Unique values in type: ['MOVIE' 'SHOW']
Unique values in description: ['A mentally unstable Vietnam War veteran works as a night-time taxi driver in New York City where the perceived decadence and sleaze feed his urge for violent action, attempting to save a preadolescent prostitute in the process.'
 'King Arthur, accompanied by his squire, recruits his Knights of the Round Table, including Sir Bedevere the Wise, Sir Lancelot the Brave, Sir Robin the Not-Quite-So-Brave-As-Sir-Lancelot and Sir Galahad the Pure. On the way, Arthur battles the Black Knight who, despite having had all his limbs chopped off, insists he can still fight. They reach Camelot, but Arthur decides not  to enter, as "it is a silly place".'
 "Brian Cohen is an average young Jewish man, but through a series of ridiculous events, he gains a reputation as the Messiah. When he's not dodging his followers or being scolded by his shrill mother, the hapless Brian has to contend with the pompous Pontius Pilate and acronym-obsessed members of a separatist movement. Rife with Monty Python's signature absurdity, the tale finds Brian's life paralleling Biblical lore, albeit with many more laughs."
 ...
 'A man from Nigeria returns to his family in Canada and discovers that Western culture has changed his children in ways that he does not approve.'
 'A family faces destruction in a long-running conflict between communities that pits relatives against each other amid attacks and reprisals.'
 'With winter behind them, Bheem and his townspeople usher in a sunny new season in all their favorite ways during the Makar Sankranti festival.']
Unique values in release_year: [1976 1975 1979 1973 1969 1971 1964 1980 1967 1966 1961 1954 1958 1968
 1977 1972 1963 1960 1956 1953 1974 1959 1962 1978 1986 1989 1984 1990
 1987 1983 1982 1981 1988 1985 1995 2000 1997 1994 1996 1999 1998 1993
 1992 1991 2008 2010 2004 2005 2003 2009 2007 2006 2001 2002 2012 2011
 2014 2013 2015 2016 2017 2018 2019 2020 2022 2021]
Unique values in age_certification: ['R' 'PG' 'TV-14' 'G' 'PG-13' nan 'TV-MA' 'TV-PG' 'TV-Y' 'TV-G' 'TV-Y7'
 'NC-17']
Unique values in runtime: [113  91  94 133  30 102 170 104 110 117 158 100  78  99 115  77  68 150
  97 186 120 105 235 161  43 124 152 162  74  93 153 142 138 163 135 141
 131  24  89 229  96 116  90  51  10 127 103  23  84  26  15  50  87 144
 174  72 134 172 148 160 108 159 129 151 107  48  44  22  92 169  25  47
  40 106  46 119 126 130 136 123 165 112 128 118 101  88  28  95 114  21
  19  75  63 185   9 171 156 177 175 155 206 145 180  55 146  58  59  56
 149 147  49  57  45 111  98 139  42 121 125 143 140 122 154 109  81  82
  52  83  29  27  64 132   7 224  11  86   6  35  18  61  14  17 210  76
 213  71  20  85  12   0 137 183 178  60 157 189   3 225 193 166 179  67
 173 167  80  73  37 192  69  13 182  53  54  79  41   4  16  65   2  62
   5  66  70 188  32  31   8  36 181 164  39  34  33 168  38 209 176]
Unique values in imdb_id: ['tt0075314' 'tt0071853' 'tt0079470' ... 'tt14620732' 'tt10168094'
 'tt13711094']
Unique values in imdb_score: [8.3 8.2 8.  8.1 8.8 7.7 7.8 5.8 7.3 7.5 7.6 6.9 7.2 6.2 6.4 6.7 6.8 9.
 2.1 7.4 6.5 4.6 4.2 5.1 8.9 6.6 7.1 4.9 6.1 6.  7.9 7.  5.6 8.7 6.3 4.8
 3.8 5.2 5.4 8.4 8.6 8.5 4.5 5.7 5.9 4.7 4.  5.5 3.6 5.  9.5 9.3 3.9 5.3
 4.1 4.4 2.9 4.3 3.5 9.6 3.4 3.3 2.  3.2 1.7 2.6 9.2 3.1 3.7 1.9 2.8 2.7
 1.5 2.3 3.  2.2 9.1 2.5 2.4 1.6 1.8]
Unique values in imdb_votes: [7.95222e+05 5.30877e+05 3.92419e+05 ... 7.02000e+02 8.53000e+02
 1.04180e+04]

In [7]:
# Drop unusable columns
Movies_rating = Movies_rating.drop(columns=['index', 'id', 'imdb_id'])

Movies_rating.head()

,title,type,description,release_year,age_certification,runtime,imdb_score,imdb_votes
0,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,8.3,795222.0
1,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,8.2,530877.0
2,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,8.0,392419.0
3,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,8.1,391942.0
4,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,8.8,72895.0

In [8]:
# group title by movie or show 

grouped = Movies_rating.groupby('type').size()

print(grouped)

type
MOVIE    3407
SHOW     1876
dtype: int64

In [9]:
# group title by age_certification

grouped = Movies_rating.groupby('age_certification').size()

print(grouped)

age_certification
G        105
NC-17     13
PG       238
PG-13    424
R        548
TV-14    436
TV-G      72
TV-MA    792
TV-PG    172
TV-Y      94
TV-Y7    104
dtype: int64

There are 3407 movies and 1876 tv shows with age rating ranging from General (G), Restricted (R), Parental Guidance (PG), to all children (TV-Y). Before we proceed with the analysis, we need to determine the age certification of 2285 movie or tv show for data accuracy using the fill forward method:

In [10]:
Movies_rating['age_certification'].fillna(method='ffill', inplace=True)

In [11]:
# Fill missing values of the IMDb votes using the mean value

average_votes = Movies_rating['imdb_votes'].mean()

Movies_rating['imdb_votes'].fillna(average_votes, inplace=True)

In [12]:
Movies_rating['description'].replace('NA', np.nan, inplace=True)

# fill missing values in the 'description' column
Movies_rating['description'].fillna(value='Not provided', inplace=True)

In [13]:
# Check the columns with the null values 
Movies_rating.isna().sum()

title                0
type                 0
description          0
release_year         0
age_certification    0
runtime              0
imdb_score           0
imdb_votes           0
dtype: int64

In [14]:
# group title by age_certification

grouped = Movies_rating.groupby('age_certification').size()

print(grouped)

age_certification
G         303
NC-17      22
PG        458
PG-13     748
R         838
TV-14     746
TV-G      117
TV-MA    1334
TV-PG     314
TV-Y      200
TV-Y7     203
dtype: int64

In [15]:
# Display the statiscal description of the dataframe and check for outliers

Movies_rating.describe()

       release_year      runtime   imdb_score    imdb_votes
count   5283.000000  5283.000000  5283.000000  5.283000e+03
mean    2015.879992    79.199886     6.533447  2.340719e+04
std        7.346098    38.915974     1.160932  8.700224e+04
min     1953.000000     0.000000     1.500000  5.000000e+00
25%     2015.000000    45.000000     5.800000  5.220000e+02
50%     2018.000000    87.000000     6.600000  2.285000e+03
75%     2020.000000   106.000000     7.400000  1.027600e+04
max     2022.000000   235.000000     9.600000  2.268288e+06

The median release year settling at 2018 suggests a sweet spot for content creation. The runtime sweet spot at 87 minutes signifies a balance between a quick watch and a more extended session. Viewer opinions, encapsulated by the median IMDb score of 6.6, reflect a discerning audience.

In [16]:
# save the dataframe as a csv file

Movies_rating.to_csv('Movies_rating.csv', index=False)